# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Django
backend/.env
backend/.env.*
!backend/.env.example
!backend/.env.production.example
backend/db.sqlite3
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
backend/frontend/node_modules/
frontend/dist/

# OS/editor
.DS_Store
.idea/
.vscode/
