DJANGO_SECRET_KEY=dev-only-change-this-5x9vB8jN2mQ4rT7uK1pZ6wX3cL0aD5sF8hG
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1, https://portfolio-487618.ew.r.appspot.com/
DJANGO_ADMIN_URL=secret-admin/
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,
DB_NAME=portfolio-db
DB_USER=postgres
DB_PASS=ISSam*123789#
DB_HOST=/cloudsql/portfolio-487618:us-central1:portfolio-postgress-instance
DB_PORT=5432
USE_GCS_STATIC=False
GS_BUCKET_NAME=portfolio0247-bucket
GS_PROJECT_ID=portfolio-487618
GS_QUERYSTRING_AUTH=False
